body {
    background-color: rgba(34, 40, 49, 0.9);
    color: #eeeeee;
    font-family: 'Arial', sans-serif;
}

.rounded-box {
    background: linear-gradient(135deg, #8e44ad, #3498db);
    border-radius: 20px;
    width: 100%;
}

.title {
    color: #eeeeee;
    font-weight: bold;
}

/* Input styles */
.form-control {
    background-color: #404040; /* Arkaplan rengini gri yap */
    color: #eeeeee; /* Metin rengini beyaz yap */
    border: 1px solid #eeeeee;
}

.form-control::placeholder {
    color: #eeeeee; /* Placeholder rengi beyaz yap */
}

/* Button styles */

.btn-close {
    background-color: #ffffff;
}

.btn {
    background: rgb(253,29,29);
    background: linear-gradient(90deg, rgba(253,29,29,0.7) 50%, rgba(252,176,69,0.7) 100%);
    border: none;
    color: #ffffff;
    transition: transform 0.3s ease; /* Animasyon efekti için geçiş */
}

.btn:hover {
    transform: scale(1.02); /* Hover olunca büyüt */
}

.btn:active {
    transform: scale(0.97); /* Tıklanınca küçült */
}

.left-box, .right-box {
    background-color: #393e46;
}

.inner-box {
    background: linear-gradient(135deg, #3498db, #8e44ad);
}

.table {
    background-color: #ffffff; /* Tablo arka planı beyaz */
    border-radius: 10px;
}

.table th,
.table td {
    color: #393e46; /* Yazılar için koyu renk */
}

.table th {
    cursor: pointer;
}

.w-30 {
    width: 30%;
}

.w-70 {
    width: 70%;
}
