<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Panel</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <div class="custom-panel" v-if="activePanel">
            <div class="top-bar">
                <span class="panel-title">Coderator's Logistic Company</span>
                <div class="right-section">
                    <span class="level">Level: {{ level }}</span>
                    <span class="balance">Balance: {{ company_balance }}$</span>
                    <i class="btn btn-danger close-btn fa-solid fa-xmark" @click="closePanel"></i>
                </div>
            </div>

            <div class="panel-container">
                <div class="sidebar">
                    <button v-for="(title, panel) in panelTitles" :key="panel" class="btn sidebar-buttons"
                        :class="{ 'active': activePanel === panel }" @click="setActivePanel(panel)">
                        <span v-html="title.icon"></span>&nbsp;<b>{{ title.name }}</b>
                    </button>
                </div>


                <div class="main-content">
                    <div class="main-content" v-if="activePanel === 'panel_home'">
                        <div class="stats-container">
                            <div class="stat-box">
                                <div class="stat-icon"><i class="fa-solid fa-id-card"></i></div>
                                <span class="stat-value">{{ header }}</span>
                                <span class="stat-label">Company Owner</span>
                            </div>
                            <div class="stat-box">
                                <div class="stat-icon"><i class="fa-solid fa-building-user"></i></div>
                                <span class="stat-value">{{ level }}</span>
                                <span class="stat-label">Level</span>
                            </div>
                            <div class="stat-box">
                                <div class="stat-icon"><i class="fa-solid fa-chart-line"></i></div>
                                <span class="stat-value">{{ exp }}</span>
                                <span class="stat-label">Total EXP earned</span>
                            </div>
                            <div class="stat-box">
                                <div class="stat-icon"><i class="fa-solid fa-star"></i></div>
                                <span class="stat-value">{{ skill_points }}</span>
                                <span class="stat-label">Available Skill Points</span>
                            </div>
                        </div>
                        <div class="stats-container">
                            <div class="stat-box">
                                <div class="stat-icon"><i class="fa-solid fa-money-check-dollar"></i></div>
                                <span class="stat-value">${{ company_balance }}</span>
                                <span class="stat-label">Company Balance</span>
                            </div>
                            <div class="stat-box">
                                <div class="stat-icon"><i class="fa-solid fa-magnifying-glass-dollar"></i></div>
                                <span class="stat-value">${{ total_earned }}</span>
                                <span class="stat-label">Total Money Earned</span>
                            </div>
                            <div class="stat-box">
                                <div class="stat-icon"><i class="fa-solid fa-truck-ramp-box"></i></div>
                                <span class="stat-value">{{ completed_deliveries }}</span>
                                <span class="stat-label">Completed Deliveries</span>
                            </div>
                            <div class="stat-box">
                                <div class="stat-icon"><i class="fa-solid fa-route"></i></div>
                                <span class="stat-value">{{ travelled_distance }}km</span>
                                <span class="stat-label">Travelled Distance</span>
                            </div>
                        </div>
                        <div class="top-drivers">
                            <h3>Top Drivers</h3>
                            <div class="driver">
                                <i class="fa-solid fa-medal gold"></i>
                                <span class="driver-name">{{ topDriver.name }}</span>
                                <span class="driver-info">Travelled distance: {{ topDriver.distance }}km | EXP: {{
                                    topDriver.exp }}</span>
                            </div>
                        </div>
                    </div>

                    <div v-if="activePanel === 'panel_jobs'">Panel 2 Content</div>
                    <div v-if="activePanel === 'panel_bank'">Panel 3 Content</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.min.js"></script>
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Custom JS -->
    <script src="script.js"></script>
</body>

</html>